<template>
    <div>
        <label>{{ label }}</label>

        <div class="row">
            <div class="col-10">
                <div class="row m-2" v-for="field in fields">
                    <div class="col-11">
                        <input :placeholder="placeholder" type="text" :name="name+'[]'" :value="field.value" class="form-control">
                    </div>
                    <div class="col-1">
                        <span class="btn btn-danger" v-on:click="removeRow(field.id)">x</span>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <span class="btn btn-success" v-on:click="addRow()">+</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'rows',
            'name',
            'placeholder',
            'label'
        ],

        data: function(){
            return {
                fields: [],
                maxId: 0
            }
        },

        methods: {
            addRow: function () {
                this.fields.push({
                    id: this.maxId++,
                    value: ''
                });
            },
            removeRow: function (id){
                this.fields = this.fields.filter((item) => {
                    return item.id != id;
                });
            }
        },

        mounted() {
            if (this.rows.length > 0)
            {
                this.rows.forEach((value, key) => {
                    this.fields.push({
                        id: this.maxId++,
                        value: value
                    });
                })
            }
        }
    }
</script>
