// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$mainDarkColor: #404b69;
$mainPinkColor: #f73859;

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import 'views/auth';
@import 'views/user';
@import 'views/recipe';

.required{
    color: red;
}

.nav-tabs .nav-item.active .nav-link, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #f8fafc;
    border-color: #dee2e6 #dee2e6 #f8fafc;
}

.navbar-collapse{
    &.collapse.in{
        display: block;
    }
}

.ingredientTemplate, .stepTemplate, .imageTemplate{
    display: none;
}

.deleteRecipe{
    position: absolute;
    right: 7px;
    top: 7px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.tableHeaderDark{
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    border-top: 1px solid #dee2e6;
    font-weight: bold;
}
.tableBody{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn-primary{
    color: white;
    background-color: $mainDarkColor;
    border-color: #000000;
    &:hover{
        background-color: $mainPinkColor;
        border-color: #6d1827;
    }
}

#navbarSupportedContent{
    > form{
        position: relative;
        input[type="submit"]
        {
            position: absolute;
        }
        .clear_button{
            position: absolute;
            right: 108px;
        }
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                &.active{
                    border-bottom: 3px solid $mainPinkColor;
                }
            }
        }
    }
}



.left-arrow,
.right-arrow{
    &:before{
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-color: transparent;
        margin-top: -35px;
        border-width: 35px;
    }
}
.left-arrow {
    &:before{
        right: 0;
        border-right-color: $mainDarkColor !important;
    }
}
.right-arrow {
    &:before{
        left: 0;
        border-left-color: $mainDarkColor !important;
    }
}
.carousel-control-prev,
.carousel-control-next{
    opacity: 0.7;
    &:hover{
        opacity: 1;
        .left-arrow
        {
            &:before{
                border-right-color: $mainPinkColor !important;
            }
        }
        .right-arrow
        {
            &:before{
                border-left-color: $mainPinkColor !important;
            }
        }
    }
}
.carousel-indicators li{
    background-color: $mainDarkColor;
    &.active{
        background-color: $mainPinkColor;
    }
}

.header{
    position: relative;
    padding-left: 20px;
    &:before{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: $mainPinkColor;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: absolute;
        left: 0;
        top: calc(50% - 5px);
    }
}
h1.header{
    margin-bottom: 20px;
}

.additional-data-row{
    > div
    {
        font-size: 10px;
        text-align: center;
        > i{
            font-size: 30px;
            margin-bottom: 10px;
            margin-top: 10px;
            color: $mainDarkColor;
        }
    }
    .difficulty{
        >.row{
            margin-bottom: 5px;
            margin-top: 5px;
            .bar-minimum,
            .bar-medium,
            .bar-maximum{
                width: 7px;
                border: 2px solid $mainDarkColor;
                display: inline-block;
                &.active{
                    background-color: $mainDarkColor;
                }
            }
            .bar-minimum{
                height: 15px;
            }
            .bar-medium{
                height: 25px;
            }
            .bar-maximum{
                height: 35px;
            }
        }

    }
}

.page-item{
    &.active{
        .page-link {
            color: white;
            background-color: $mainPinkColor;
            border-color: $mainPinkColor;
        }
    }
    .page-link {
        color: $mainDarkColor;
        background-color: #fff;
    }
}
.steps{
    >div{
        &:nth-of-type(2)
        {
            .stepsChanging{
                .fa-arrow-up{
                    display: none;
                }
            }
        }
        &:last-of-type{
            .stepsChanging{
                .fa-arrow-down{
                    display: none;
                }
            }
        }
    }
}
.stepRow{
    .stepsChanging{
        font-size: 30px;
        text-align: center;
        color: $mainDarkColor;
        i{
            cursor: pointer;
            &:hover{
                color: $mainPinkColor;
            }
        }
        table{
            height: 100%;
            width: 100%;
        }
    }
}
.sidepanel-wrap {
    .sidepanel-content {
        float: left;
        width: calc(100% - 370px);
        min-height: 100px;

        &:before, &:after {
            display: table;
            content: "";
            clear: both;
        }
        & + .sidepanel {
            margin-left: 20px;
        }
    }
    .sidepanel {
        float: left;
        width: 350px;
        min-height: 100px;

        &:before, &:after {
            display: table;
            content: "";
            clear: both;
        }
        & + .sidepanel-content {
            margin-left: 20px;
        }
    }

    .list-group {
        .alert:last-child {
            margin-bottom: 0;
        }
    }

    .list-group-item {
        padding: 10px;

        & > a {
            line-height: 22px;
        }
    }
}

@media screen and (max-width: $screen-lg) {
    .sidepanel-wrap {
        .sidepanel-content, .sidepanel {
            float: none;
            width: auto;
            margin: 0 0 20px 0 !important;
        }
    }
}

.tree {
    margin: 0 0 0 -5px;
    padding: 0;
    list-style: none;

    .root > ul::before {
        top: 5px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    > li {
        padding: 0;
        color: $mainDarkColor;
    }
    ul {
        position: relative;
        margin-left: 10px; /*! (indentation/2) */

        &:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: -5px;
            bottom: 0;
            left: 0;
            border-left: 1px solid;
        }
        &.sortable > li {
            .node-icon {
                cursor: default;
            }
            .node-icon-sort,
            .node-icon-menu {
                margin-top: 0.5em;
                width: auto;
                cursor: move;
            }
            .node-icon-edit {
                width: auto;
                cursor: pointer;
            }
            .node-icon-menu {
                cursor: pointer;
            }
        }

        li {
            margin: 0;
            padding: 0 0 0 10px; /*! indentation */
            line-height: 1.8em; /*! default list item's `line-height` */
            color: $mainDarkColor;
            position: relative;

            &:before {
                content: "";
                display :block;
                width: 11px; /*! same with indentation */
                height: 0;
                border-top: 1px solid;
                margin-top: -2px; /*! border top width */
                position: absolute;
                top: 1em; /*! (line-height/2) */
                left: 0;
            }
            &:last-child:before {
                background: white; /*! same with body background */
                height: auto;
                top: 1em; /*! (line-height/2) */
                bottom: 0;
            }
            &.active span {
                color: $mainDarkColor;
            }
            .node-icon:hover {
                color: $mainDarkColor;
            }
            .node-icon-sort,
            .node-icon-menu,
            .node-icon-edit {
                color: lightgrey;
            }
            .node-icon-menu-active {
                color: $mainDarkColor;
            }
            a {
                &.fa {
                    text-decoration: none;
                    outline: 0;
                }
                &.node-sign {
                    background-color: #ffffff;
                    margin-left: -15px;
                    margin-right: 3px;
                    width: 12px;
                    height: 13px;
                    position: relative;
                }
            }
            span {
                &.fa-folder, &.fa-folder-open {
                    width: 14px;
                }
            }
        }
    }
}

.popover-menu {
    display: block;
    float: none;
    position: static;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.underline{
    border-bottom: 1px solid $mainPinkColor;
}

.category-level-0,
.category-level-1,
.category-level-2,
.category-level-3,
.category-level-4,
.category-level-5,
.category-level-6
{
    margin-left: 20px;
    > .navbar-nav{
        >.nav-item{
            >.navbar-toggler{
                position: absolute;
                left: -20px;
                top: 10px;
                &.collapsed{
                    .fa-plus-square{
                        display: block;
                    }
                    .fa-minus-square{
                        display: none;
                    }
                }
                &:not(.collapsed){
                    .fa-plus-square{
                        display: none;
                    }
                    .fa-minus-square{
                        display: block;
                    }
                }
            }
        }
    }
}
.modal-backdrop{
    background: rgba(0,0,0,0.4);
}

main{
    .recipe-box{
        &:hover{
            .fas.fa-heart{
                color: $mainPinkColor;
            }
        }
    }

    .fas.fa-heart{
        position: absolute;
        right: 15px;
        top: 14px;
        font-size: 25px;
        cursor: pointer;
        color: $mainDarkColor;

        &:hover{
            color: $mainPinkColor;
        }
        &.filled{
            color: $mainPinkColor;
            &:hover{
                color: $mainDarkColor;
            }
        }
    }
}

.main-menu{
    i {
        font-size: 25px;
    }
    #favourite-counter,
    #shopping-list-counter{
        background: pink;
        padding: 2px 5px;
        border-radius: 10px;
        font-size: 8px;
        position: absolute;
        bottom: 3px;
        right: 10px;
    }
}
.notifications {
    position: fixed;
    bottom: 0;

    i {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    @media (min-width:  320px) {
        width: 100%;
        right: 0;
    }
    @media (min-width:  640px) {
        width: 100%;
        right: 0;
    }
    @media (min-width:  768px) {
        width: 25%;
        right: 10px;
    }
}