.loginPage {
    background: #1D2531;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    font-size: 14px !important;
    .login {
        width: 350px;
        height: auto;
        .logo {
            padding: 40px;
            img {
                width: 100%;
            }
        }
        header {
            h1 {
                display: block;
                padding: 10px;
                background-color: #222C3C;
                color: #fff;
                text-align: center;
                font-size: 20px;
                font-weight: 300;
                padding: 15px 0;
                margin: 0;
            }
        }
        .loginForm {
            background-color: #cdd7db;
            padding: 30px;
            form {
                .form-control {
                    padding: 15px;
                    min-height: 48px;
                    width: 100%;
                    margin-bottom: 10px;
                    font-family: 'Libre Franklin',sans-serif;
                    font-size: 14px !important;
                    border: none;
                    box-sizing: border-box;
                }
                button {
                    background-color: #fff;
                    border: 0;
                    color: #000000;
                    padding: 15px;
                    text-align: center;
                    width: 100%;
                    font-size: 14px;
                    cursor: pointer;
                    transition: opacity .4s;
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}
