.userAccount{
    > div{
        text-align: center;
        > a{
            color: $mainDarkColor;
            > i{
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }
}